# Project folders
./media
./lib

# Junk files
.DS_store
test.cpp

# Scrap files
*.exe
*.obj
*.dll
*.lib
*.exp
*.ilk
*.pdb
.vscode
log.txt
test.cpp
*.obj
*.o
*.exe
*.exp
*.lib
*.ilk
*.pdb

# Visual Studio project files
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.db
*.sdf
*.sln
*.opendb

# Images
*.png
